.logo{
    background: -webkit-linear-gradient(90deg, rgba(0,134,139,1) 0%, rgba(9,121,91,1) 37%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: medium;
}